/*body formate*/
*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
}
nav{
	background-color: blue;
	width: 100%;
	height: 80px;

}
label.logo{
	color: white;
	font-size: 35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
	text-shadow: 5px 3px red;

}


nav ul{
	float: right;
	margin-right: 20px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 5px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}
a.active,a:hover{
	background: #1b9bff;
	transition: .5s;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	curser: pointer;
	display: none;
}
#check{
	display: none;

}
@media (max-width:952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;


	}
	nav ul li a{
		font-size: 16px;
	}
}
@media (max-width:858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align:center ;
		transition: all .5s;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;

	}
	nav ul li a{
		font-size: 20px;

	}
	a:hover,a.active{

		background: none;
		color: #0082e6;
	}
	#check:checked~ul{
		left:0;
	}
}

/*footer section*/
footer{
	width: 100%;
	height: 70vh;
	border: 1px solid black;
	background-color: blue;
	color: white;
	margin-top: 50px;
}
.ul{

		display: inline-flex;
		margin-left: 5px;	
		font-size: 25px;
}
ul li{
	margin-inline: 50px;
	margin-top: 20px;
	
}
.ul1 li {
	font-size: 15px;
	display:inline-block;

}
input{
	height: 40px;
	margin-top: 15px;
	border-radius: 40px;
	text-align: center;
}
img{
	border-radius: 40px;
	margin-top: 15px;
}

@media (max-width:500px){

	footer{
	width: 100%;
	height: 100vh;
	border: 1px solid black;
	background-color: blue;
	color: white;
	margin-top: 50px;
}
.ul{

		display: inline-flex;
		margin-left: 5px;	
		font-size: 25px;
}
ul li{
	margin-inline: 50px;
	margin-top: 60px;
	
}
.ul1{
	margin-right: 0px;
	font-size: 15px;
}
}
@media (min-width:600px and max-width:800px){

	footer{
	width: 100%;
	height: 100vh;
	border: 1px solid black;
	background-color: blue;
	color: white;
	margin-top: 50px;
}
.ul{

		display: inline-flex;
		margin-left: 5px;	
		font-size: 25px;
}
ul li{
	margin-inline: 50px;
	margin-top: 60px;
	
}
.ul1{
	margin-right: 40px;
	font-size: 15px;
}
input{
	height: 40px;
	margin-top: 15px;
	border-radius: 40px;
	text-align: center;
}
img{
	border-radius: 40px;
	margin-top: 15px;
}
}
@media (min-width:900px and max-width:1200){

	footer{
	width: 100%;
	height: 100vh;
	border: 1px solid black;
	background-color: blue;
	color: white;
	margin-top: 50px;
}
.ul{

		display: inline-flex;
		margin-left: 5px;	
		font-size: 25px;
}
ul li{
	margin-inline: 50px;
	margin-top: 60px;
	
}
.ul1{
	margin-right: 0px;
	font-size: 15px;
}
}
@media (max-width:1250px){

	footer{
	width: 100%;
	height: 100vh;
	border: 1px solid black;
	background-color: blue;
	color: white;
	margin-top: 50px;
}
.ul{

		display: inline-flex;
		margin-left: 5px;	
		font-size: 25px;
}
ul li{
	margin-inline: 50px;
	margin-top: 60px;
	
}
.ul1{
	margin-right: 40px;
	font-size: 15px;
}
input{
	height: 40px;
	margin-top: 15px;
	border-radius: 40px;
	text-align: center;
}
img{
	border-radius: 40px;
	margin-top: 15px;
}
}



